global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["{{ http.get('addr') if http.get('addr') else '127.0.0.1' }}:{{ http.get('port') }}"]

{% for config in scrape_configs %}
  - job_name: "{{ config.get('name') }}"
    static_configs:
      - targets:
        {% for target in config.get('targets') %}
        - {{ target }}
        {% endfor %}
{% endfor %}
{{ additional_scrape_config | indent(2, True) }}